/**********************************************************************
Description: It defines the styles for header components available in CMT-UI css framework.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles for header components as listed below:

* Header      - The barebone header class with minimum styles. The header can be made fixed or absolute.
*
* Basic       - The basic header define the styles for primary header having logo and menus.
***********************************************************************/

// == Structure - Header ============

.header {
	position: relative;

	&.header-fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000; // modal popups must override this index
	}

	&.header-absolute {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10000; // modal popups must override this index
	}
}

// == Basic Header ==================

/* Basic Header having fixed width logo, main menu and mobile menu icon.
 * Responsive approach - Desktop first
 * Logo - Placed on left side
 * Main Menu - Placed on right side, hidden for tablet and mobile
 * Mobile Menu - Placed on right side, hidden for desktop - Use it only if required.
 * Main menu can alone do the job in most of the cases.
 */
.header-basic {
	background-color: $color-header;
	color: $color-header-text;
	position: relative;
	z-index: 10000;

	// Absolute positioned on left side wrapping the logo
	.header-logo {
		cursor: pointer;
		padding: 10px;
		display: block;
		position: absolute;
		z-index: 2;

		.logo {
			width: 140px;
		}
	}

	#menu-main {
		padding: 10px;
		text-align: right;
		display: block;
		z-index: 1;
	}

	// Added option to toggle mobile menu. Mobile Menu designing can be done on need, else main menu itself can be used.
	#menu-main-mobile {
		display: none;
	}

	// Button to toggle mobile menu
	#btn-menu-mobile {
		position: absolute;
		right: 0px;
		cursor: pointer;
		padding: 10px;
		display: none;
		z-index: 2;
	}

	@include responsive-max( screen-tablet-large ) {

		.header-logo {
			width: 70px;
		}

		#menu-main {
			margin-top: 55px;
			display: none;
		}
	}
}
