@font-face {
  font-family: "cmti-core";
  src: url("../fonts/cmgtools/cmti-core.eot");
  src: url("../fonts/cmgtools/cmti-core.eot?#iefix") format("embedded-opentype"), url("../fonts/cmgtools/cmti-core.woff") format("woff"), url("../fonts/cmgtools/cmti-core.ttf") format("truetype"), url("../fonts/cmgtools/cmti-core.svg#cmti-core") format("svg");
  font-weight: normal;
  font-style: normal;
}