/* Flipper - Reference - http://davidwalsh.name/css-flip. It need little js to toggle the hover class by listening for touchstart. */

// Another reference showing the use of flip effect - http://css3.bradshawenterprises.com/flip/

// -------- HTML Structure ----------

//<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
//  <div class="flipper">
//    <div class="front">
//      <!-- front content -->
//    </div>
//    <div class="back">
//      <!-- back content -->
//    </div>
//  </div>
//</div>

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
    width: 320px;
    height: 270px;

    /* flip speed goes here */
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;    
        position: relative;
    }

    /* flip the pane when hovered */
    &:hover, &.hover {
      
      .flipper {
          transform: rotateY(180deg);
      }
    }

    /* hide back of pane during swap */
    .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 270px;
    }

    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
    }
    
    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
    }
}