/**********************************************************************
Description: It defines the styles for the Blog Widgets of cms module for CMSGears following components approach.
Dependencies: variables, mixins
***********************************************************************/

.blog-posts {

    .post {
        // post

        .post-banner {
            // banner
        }

        .post-author {

            .post-author-avatar {
                // author avatar
            }

            .post-author-info {
                // author details like name, time
            }
        }

        .wrap-post-content {

            .post-title {
                // post title
            }

            .post-info {
                // post info like time          
            }

            .post-content {
                // post content   
            }
        }
    }
}

// It shows banner floated left and content flowing below banner. Author is next to banner with time details. Title is below author and than content flows.
.blog-posts-basic {

    .post {
        margin-bottom: 1em;

        // Banner with default padding. A default image can be used for banner with background fill. The fill helps for transparent logos.
        .post-banner {
            padding: 1em;

            img {
                width: 100%;

                &.bkg-fill {
                    background-color: $color-primary;
                }
            }
        }

        .post-author {
            position: relative;

            .post-author-avatar {
                width: 80px;
                height: 80px;

                img {
                    width: 100%;
                }

                &.circled1 {
                    background-color: $color-primary;
                }
            }

            .post-author-info {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
            }
        }

        .post-content {
            padding: 1em;

            .post-title {
                font-size: $font-size-5;
            }
        }

        @include responsive-min( screen-tablet-small ) {
    
            .post-banner {
                float: left;
                width: 350px;
            }

            .post-author {
                width: 100%;
                padding-left: 350px;
                position: relative;
            }
        }
    }
}

// Single Post
.post-single {
    // post

    .post-banner {
        // banner
    }

    .post-author {

        .post-author-avatar {
            // author avatar
        }

        .post-author-info {
            // author details like name, time
        }
    }

    .wrap-post-content {

        .post-title {
            // post title
        }

        .post-info {
            // post info like time          
        }

        .post-content {
            // post content   
        }
    }
}

// Banner at top covering 100% widget followed by psot content. Author avatar, name and time below content.
.post-single-basic {
    padding: 1em;
    background-color: $color-primary-l;

    .post-banner {
        height: 150px;
        
        img {
            width: 100%;
        }
    }

    .post-author {
        position: relative;

        .post-author-avatar {
            display: inline-block;
            width: 80px;
            height: 80px;

            img {
                width: 100%;
            }

            &.circled1 {
                background-color: $color-primary;
            }
        }

        .post-author-info {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
        }
    }
    
    .post-content {
        margin-bottom: 1em;
    }

    @include responsive-min( screen-mobile-large ) {

        .post-banner {
            height: 250px;
        }
    }

    @include responsive-min( screen-tablet-large ) {

        .post-banner {
            height: 350px;
        }
    }
}



// TODO: dump this after confirmation
.blog-posts-regular {

    .post {
        margin: 10px 0;
        @include border( $size-default, solid, $color-secondary );
        background-color: $color-primary;
    }

    .banner {
        width: 20%;
        display: inline-block;
        text-align: center;
    }

    .post-content {
        width: 80%;
        display: inline-block;

        &.full {
            width: 100%;
        }

        .post-header {
            background-color: $color-secondary-d;
            padding: 0.25em;

            a {
                color: $color-primary;
            }

            a:hover {
                color: $color-secondary;
            }
        }

        .summary {
            padding: 1em;
        }

        .info {
            background-color: $color-secondary;
            padding: 5px;

            .author, .time {
                display: inline-block;
            }

            .author {
                float: left;

                img {
                    width: 40px;
                    border: 5px solid $color-primary;
                    @include rounded(5px);
                }
            }

            .time {
                float: right;
                margin-top: 15px;
            }
        }
    }

    .wrap-pagination {
        margin: 10px 0;

        .info {
            float: left;          
        }

        .pagination {
            float: right;
        }

        .pagination, .pagination li {
            display: inline-block;
            list-style: none;
        }

        .pagination li {
            margin: 0 2px;
            font-size: 1em;
            line-heigh: 1em;
        }

        .pagination .prev, .pagination .next, .pagination li a {
            color: $color-primary;
            text-decoration: none;
            height: 1.6em;
            background-color: $color-secondary-d;
            @include transit-all( $transit-eio, $transit-time-small );
        }

        .pagination li a {
            padding: 2px 8px;
        }

        .pagination .disabled span, .pagination .disabled span:hover {
            background-color: $color-secondary;
            padding: 2px 8px;
            height: 1.6em;  
        }

        .pagination .disabled span {
            line-height:1.6em;
        }

        .pagination .active, .pagination .active a, .pagination li a:hover, .pagination .next:hover, .pagination .prev:hover {
            background-color: $color-secondary;
            color: $color-primary;
            @include transit-all( $transit-eio, $transit-time-small );
        }
    }
}