// The Form Box can be used to show form info for display purpose and the real form can be displayed when user click the edit button.
.box-form {
    position: relative;

    .btn-edit {
        cursor: pointer;
    }

    .wrap-info {
        display: block;
    }

    .wrap-form {
        display: none;
    }
}

.box-form-regular {

    .btn-edit {
        position: absolute;
        display: inline-block;
        top: 10px;
        right: 10px;
        color: $color-btn-text;
        cursor: pointer;

        &:hover {
            color: $color-btn-h-text;
        }
    }
}

// The collapsible form derived from collapsible box. The edit button is wrapped by content wrapper for collapsible box.
.box-form-collapsible {

    .box-wrap-content {

        .btn-edit {
            position: absolute;
            display: inline-block;
            top: 10px;
            right: 10px;
            color: $color-btn-text;
            cursor: pointer;
            
            &:hover {
                color: $color-btn-h-text;
            }
        }
    }
}