/**********************************************************************
Description: It defines the styles for the header components available in CMGTools.
Dependencies: variables, variables-ext, mixins
***********************************************************************/

// Standard Header having logo, main menu and mobile menu button.
.header-standard {
    background-color: $color-primary;
    color: $color-primary-text;
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 10;

    .logo {
        cursor: pointer;
        margin: 5px;
        width: 140px;
        display:inline-block;
        position: absolute;
        z-index: 2;
    }

    #menu-main {
        margin-top: 5px;
        text-align: right;
        display: block;
        z-index: 1;
    }

    #btn-mobile-menu {
        position: absolute;
        right: 0px;
        cursor: pointer;
        margin: 10px;
        display: none;
        z-index: 2;

        span {
            width: 36px;
            height: 36px;
            display: block;
        }
    }

    @include responsive-max( screen-tablet-large ) {

        #menu-main {
            margin-top: 55px;
            display: none;
        }

        #btn-mobile-menu {
            display:inline-block;
        }
    }
}