/**********************************************************************
Description: It defines the styles for the menu components available in CMGTools.
Dependencies: variables, variables-ext, mixins
***********************************************************************/

/* hnav-regular is 3 level horizontal responsive menu for ul, li and a tags and works well for all modern web browsers. 
   It need little javascript or jquery for mobile screens to expand or contract the immediate child menus for touch screens. It's best suited for header menu. */
.hnav-regular {
    background-color: $color-primary;
    @include border-bottom( $size-default, solid, $color-primary-l );
    position: relative;

    & > li {
        display: inline-block;
        text-align: left;
        background-color: $color-primary;
        @include border-bottom( $size-default, solid, $color-primary-l );
        margin-bottom: -5px;
        @include transit-all( $transit-eio, $transit-time-small );

        & > a {
            color: $color-primary-text;
            font-size: $font-size-7;
            line-height: 48px;
            padding: 0 15px;
            text-transform: uppercase;
        }

        &:hover > a {
            background-color: $color-tertiary;
            color: $color-tertiary-text;
        }
    }

    li a {
        display: inline-block;
        text-decoration: none;
        @include transit-color-bkg-color( $transit-eio, $transit-time-medium );
    }

    li.active > a {
        background-color: $color-secondary;
        color: $color-secondary-text;
    }

    li:hover .nav-sub {
        display: block;
    }

    // Sub Menu
    .nav-sub {
        display: none;
        position: absolute;
        top: 53px;
        left: 0;
        padding: 10px 2%;
        width: 96%;
        background-color: $color-secondary;
        @include shadow( 1px, 1px, 2px, $color-secondary );

        & > li {
            display: inline-block;
            float: none;
            padding: 10px 1%;
            vertical-align: top;
            width: 22%;

            & > a {
                font-size: $font-size-7;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            a {
                line-height: 20px;
                color: $color-secondary-text-d;
            }

            li {
                float: none;
                padding-left: 5px;
                @include transit-padding( $transit-eo, $transit-time-small );
            }

            li:hover {
                padding-left: 10px;
            }
        }
    }

    @include responsive-max( screen-tablet-large ) {

        li, a {
            width: 100%;
        }

        .nav-sub {
            position: relative;
            top: 0px;

            li, a {
                width: 100%;
            }
        }
    }
}

/* vnav-regular is n level vertical responsive menu and best suited for sidebar menu. */
.vnav-regular {
    @include border( $size-medium, solid, $color-primary-l );
    position: relative;

    li {
        text-align: left;
        border-bottom: border-default;
        position: relative;
        @include transit-all( $transit-eio, $transit-time-small );

        .last {
            border: none;
        }
    }

    a {
        display: block;
        background-color: $color-primary;
        color: $color-primary-text;
        font-size: $font-size-7;
        line-height: 35px;
        width: 98%;
        padding: 0 1%;
        text-decoration: none;
        @include transit-color-bkg-color( $transit-eio, $transit-time-medium );
    }

    li:hover > a {
        background-color: $color-tertiary;
        color: $color-tertiary-text;
    }

    li:hover > .nav-sub {
        display: block;
    }

    .nav-sub {
        display: none;
        position: absolute;
        top: -2px;
        width: 250px;
        margin-left: 100%;
        @include border( $size-medium, solid, $color-primary-l );
    }

    @include responsive-max( screen-tablet-large ) {

        .nav-sub {
            position: relative;
            top: 0px;
            margin-left: 0;
            width: 100%;
            border: none;

            a {
                background-color: $color-secondary;
            }
        }
    }
}