// Textures

%textures {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include bkg-tile;
}

// Default Texture

.texture {
    @extend %textures;
}

.texture-default {
    background-image: url( $images-path + "texture-default.png" );
}

.pattern {
    @extend %textures;
}

.pattern-default {
    background-image: url( $images-path + "pattern-default.jpg" );
}