/**********************************************************************
Description: It defines the html elements styles for CMGTools excluding form, form elements and table.
Dependencies: variables, mixins
***********************************************************************/

fieldset {
    @include border( 1px, solid, $color-secondary );

    legend {
        background-color: $color-secondary;
        color: $color-white;
        padding: $size-medium-rem;
        @include rounded( $size-medium );
    }
}

optgroup {
    font-style: italic;
}