/**********************************************************************
Description: It defines the form elements styles for CMGTools.
Dependencies: variables, mixins
***********************************************************************/

// Forms

form {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;

    // Fixed width forms
    &.form-small {
        width: 230px;
        padding: 10px;
        position: relative;
    }

    &.form-medium {
        width: 430px;
        padding: 10px;
        position: relative;
    }

    &.form-large {
        width: 630px;
        padding: 10px;
        position: relative;
    }

    @include responsive-max( screen-tablet-large ) {

        &.form-small, &.form-medium, &.form-large {
            width: 80%;
            padding: 5%;
        }
    }
}

// Labels

label {
    border: none;
    box-shadow: none;
    font-size: 1em;
    line-height: 1.4;
    margin: 0.5em 0;
    width: 100%;
    padding: 0.5em;
    display: inline-block;
    text-align: left;
}

// Input Fields

%input-style {
    vertical-align: middle;
    font-size: 1em;
    line-height: 1.4;
    margin: 0.5em 0;
    width: 100%;
    padding: 0.5em;
    outline: none;
    box-shadow: none;    
    border:none;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    @extend %input-style;
    @include transit-all( $transit-eio, $transit-time-small );
    background-color: $color-field;
    color: $color-field-text;
    text-align: left;

    &:hover {
        background-color: $color-field-h;
        color: $color-field-h-text;
    }

    &:focus {        
        color: $color-field-f-text;        
        @include shadow-inset( 0, 0, 0, $color-field-f, 1px );
    }

    &:disabled {
        background-color: $color-field-d;
        color: $color-field-d-text;
    }
}


//placeholder

/* input[placeholder]:before {
    color:$color-placeholder;
}

input[placeholder] {
    color:red;
} 

input:valid {
  border: 1px solid $color-success;
}

input:invalid {
  border: 1px solid $color-error;
}

 */

// Buttons

input[type="submit"], input[type="button"], button, .btn {
    @extend %input-style;
    @include transit-all( $transit-eio, $transit-time-small );
    background-color: $color-btn;
    color: $color-btn-text;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;

    &:hover {
        background-color: $color-btn-h;
        color: $color-btn-h-text;        
    }
    
    &:active {
        background-color: $color-btn-a;
        color: $color-btn-a-text;     
    }
    
    &:disabled {
        background-color: $color-btn-d;
        color: $color-btn-d-text;     
    }
}

.btn {
    display: inline-block;

    &.btn-half {
        width: 50%;
    }

    &.btn-small {
        width: 80px;
    }

    &.btn-medium {
        width: 120px;
    }

    &.btn-large {
        width: 180px;
    }

    &.btn-xlarge {
        width: 250px;
    }
}

// Splitted forms

.frm-split-40-60 label, .element-40 {
    width: 40%;
    float: left;
}

.frm-split-40-60 input[type="text"], .frm-split-40-60 input[type="email"], .frm-split-40-60 input[type="password"], 
.frm-split-40-60 textarea, .frm-split-40-60 select, .element-60 {
    width: 60%;
    float: left;
}  

.element-40 label {     
    width: 100%;  
}

.element-60 input[type="text"], .element-60 input[type="email"], .element-60 input[type="password"], 
.element-60 textarea, .element-60 select  {
    width: 100%;
}

// Round cornered elements

.frm-rounded-all input[type="text"], .frm-rounded-all input[type="email"], .frm-rounded-all input[type="password"], 
.frm-rounded-all textarea, .frm-rounded-all input[type="submit"], .frm-rounded-all input[type="button"],
.frm-rounded-all button, .frm-rounded-all .btn {
      @include rounded( $size-medium );
}

.frm-rounded-top input[type="text"], .frm-rounded-top input[type="email"], .frm-rounded-top input[type="password"], 
.frm-rounded-top textarea, .frm-rounded-top input[type="submit"], .frm-rounded-top input[type="button"],
.frm-rounded-top button, .frm-rounded-top .btn {
      @include rounded-top( $size-medium );
}

.frm-rounded-right input[type="text"], .frm-rounded-right input[type="email"], .frm-rounded-right input[type="password"], 
.frm-rounded-right textarea, .frm-rounded-right input[type="submit"], .frm-rounded-right input[type="button"],
.frm-rounded-right button, .frm-rounded-right .btn {
      @include rounded-right( $size-medium );
}

.frm-rounded-bottom input[type="text"], .frm-rounded-bottom input[type="email"], .frm-rounded-bottom input[type="password"], 
.frm-rounded-bottom textarea, .frm-rounded-bottom input[type="submit"], .frm-rounded-bottom input[type="button"],
.frm-rounded-bottom button, .frm-rounded-bottom .btn {
      @include rounded-bottom( $size-medium );
}

.frm-rounded-left input[type="text"], .frm-rounded-left input[type="email"], .frm-rounded-left input[type="password"], 
.frm-rounded-left textarea, .frm-rounded-left input[type="submit"], .frm-rounded-left input[type="button"],
.frm-rounded-left button, .frm-rounded-left .btn {
      @include rounded-left( $size-medium );
}

// Iconified Elements

.frm-icon-field {
    display: inline-block;
    width: 100%;

    .wrap-icon {
        display: inline-block;
        border: none;
        margin: 0;
        padding: 8px 1%;
        width: 10%;
        font-size: 1em;    
        line-height: 2em;
        background-color: $color-field;
        color: $color-field-text;
    }

    input[type="text"], input[type="email"], input[type="password"], textarea, input[type="submit"], input[type="button"], button, .btn {
        display: inline-block;
        border: none;
        margin: 0;
        width: 90%;
        line-height: 2em;
        padding: 5px 10px;
    }

    &.rounded {

        .wrap-icon {
            @include rounded-left( $size-medium );
        }
    
        input[type="text"], input[type="email"], input[type="password"], textarea, input[type="submit"], input[type="button"], button, .btn {
            @include rounded-right( $size-medium );
        }
    }
}