/**********************************************************************
Description: It defines the default table style available in CMGTools.
Dependencies: variables, mixins
***********************************************************************/

// Tables Default Style

table {
    border-collapse: collapse; 
    border-spacing: 0;
}

th {
    font-weight: bold; 
    vertical-align: middle;
}

td {
    font-weight: normal; 
    vertical-align: middle;
}