/**********************************************************************
Description: It defines the default table style and data table components available in CMGTools.
Dependencies: variables, mixins
***********************************************************************/

// Tables Default Style

table {
    border-collapse: collapse; 
    border-spacing: 0;
}

th {
    font-weight: bold; 
    vertical-align: middle;
}

td {
    font-weight: normal; 
    vertical-align: middle;
}

// Data Table - Regular - Preferred for Admin Panels
/* The default data table defining styles for action buttons, search box, filters, table header and rows, pagination. */
.data-table-regular {

}

/* The default responsive data grid defining styles for action buttons, search box, filters, table header and rows, pagination. */
.data-grid-regular {

}