/**********************************************************************
Description: The translation effects available in CMGTools.
Dependencies: none
***********************************************************************/

@mixin transform-rotate( $angle ) {
  -webkit-transform: rotate( $angle ); 
      -ms-transform: rotate( $angle ); 
          transform: rotate( $angle ); 
}

// transformation - rotate
.transform-rotate {
    @include transform-rotate( 180deg );
}
