/**********************************************************************
Description: The transition effects available in CMGTools.
Dependencies: none
***********************************************************************/
/* transit-xxx
 * 1. eio - ease-in-out
 * 2. eo - ease-out
 */

// Transitions
$transit-linear: linear;
$transit-eio: ease-in-out;
$transit-eo: ease-out;

// Transition period
$transit-time-small: 250ms;
$transit-time-medium: 350ms;
$transit-time-large: 450ms; 

// All transitions
@mixin transit-all( $transit, $duration, $delay: 0s ) {
    -moz-transition: all $duration $transit $delay;
    -ms-transition: all $duration $transit $delay;
    -o-transition: all $duration $transit $delay;
    -webkit-transition: all $duration $transit $delay;
    transition: all $duration $transit $delay;
}

// Visibility transitions
@mixin transit-visibility( $transit, $duration, $delay: 0s ) {
    -moz-transition: visibility $duration $transit $delay;
    -ms-transition: visibility $duration $transit $delay;
    -o-transition: visibility $duration $transit $delay;
    -webkit-transition: visibility $duration $transit $delay;
    transition: visibility $duration $transit $delay;
}

@mixin transit-opacity( $transit, $duration, $delay: 0s ) {
    -moz-transition: opacity $duration $transit $delay;
    -ms-transition: opacity $duration $transit $delay;
    -o-transition: opacity $duration $transit $delay;
    -webkit-transition: opacity $duration $transit $delay;
    transition: opacity $duration $transit $delay;
}

@mixin transit-visibility-opacity( $transit, $duration, $delay: 0s ) {
    -moz-transition: visibility $duration $transit $delay, opacity $duration $transit $delay;
    -ms-transition: visibility $duration $transit $delay, opacity $duration $transit $delay;
    -o-transition: visibility $duration $transit $delay, opacity $duration $transit $delay;
    -webkit-transition: visibility $duration $transit $delay, opacity $duration $transit $delay;
    transition: visibility $duration $transit $delay, opacity $duration $transit $delay;
}

// Text Color transition
@mixin transit-color( $transit, $duration, $delay: 0s ) {
    -moz-transition: color $duration $transit $delay;
    -ms-transition: color $duration $transit $delay;
    -o-transition: color $duration $transit $delay;
    -webkit-transition: color $duration $transit $delay;
    transition: color $duration $transit $delay;
}

// Background Color transition
@mixin transit-bkg-color( $transit, $duration, $delay: 0s ) {
    -moz-transition: background-color $duration $transit $delay;
    -ms-transition: background-color $duration $transit $delay;
    -o-transition: background-color $duration $transit $delay;
    -webkit-transition: background-color $duration $transit $delay;
    transition: background-color $duration $transit $delay;
}

// Text and Background Color transitions
@mixin transit-color-bkg-color( $transit, $duration, $delay: 0s ) {
    -moz-transition: color $duration $transit $delay, background-color $duration $transit $delay;
    -ms-transition: color $duration $transit $delay, background-color $duration $transit $delay;
    -o-transition: color $duration $transit $delay, background-color $duration $transit $delay;
    -webkit-transition: color $duration $transit $delay, background-color $duration $transit $delay;
    transition: color $duration $transit $delay, background-color $duration $transit $delay;
}

// Padding transition
@mixin transit-padding( $transit, $duration, $delay: 0s ) {
    -moz-transition: padding $duration $transit-eo $delay;
    -ms-transition: padding $duration $transit-eo $delay;
    -o-transition: padding $duration $transit-eo $delay;
    -webkit-transition: padding $duration $transit-eo $delay;
    transition: padding $duration $transit-eo $delay;
}

// Width and Height transitions
@mixin transit-width( $transit, $duration, $delay: 0s ) {
    -moz-transition: width $duration $transit $delay;
    -ms-transition: width $duration $transit $delay;
    -o-transition: width $duration $transit $delay;
    -webkit-transition: width $duration $transit $delay;
    transition: width $duration $transit $delay;
}

@mixin transit-height( $transit, $duration, $delay: 0s ) {
    -moz-transition: height $duration $transit $delay;
    -ms-transition: height $duration $transit $delay;
    -o-transition: height $duration $transit $delay;
    -webkit-transition: height $duration $transit $delay;
    transition: height $duration $transit $delay;
}

@mixin transit-width-height( $transit, $duration, $delay: 0s ) {
    -moz-transition: width $duration $transit $delay, height $duration $transit $delay;
    -ms-transition: width $duration $transit $delay, height $duration $transit $delay;
    -o-transition: width $duration $transit $delay, height $duration $transit $delay;
    -webkit-transition: width $duration $transit $delay, height $duration $transit $delay;
    transition: width $duration $transit $delay, height $duration $transit $delay;
}

// Mixins Default implementation ***********************

// All transitions
.transit-all {
    @include transit-all( $transit-linear, $transit-time-small );
}

// Visibility transitions
.transit-visibility {
    @include transit-opacity( $transit-linear, $transit-time-small );
}

.transit-opacity {
    @include transit-opacity( $transit-linear, $transit-time-small );
}

.transit-visibility-opacity {
    @include transit-visibility-opacity( $transit-linear, $transit-time-small );
}

// Text Color transition
.transit-color {
    @include transit-color( $transit-linear, $transit-time-small );
}

// Background Color transition
.transit-bkg-color {
    @include transit-bkg-color( $transit-linear, $transit-time-small );
}

// Text and Background Color transitions
.transit-color-bkg-color {
    @include transit-color-bkg-color( $transit-linear, $transit-time-small );
}

// Padding transition
.transit-padding {
    @include transit-padding( $transit-linear, $transit-time-small );
}

// Width and Height transitions
.transit-width {
    @include transit-width( $transit-linear, $transit-time-small );
}

.transit-height {
    @include transit-height( $transit-linear, $transit-time-small );
}

.transit-width-height {
    @include transit-width-height( $transit-linear, $transit-time-small );
}

// Increase size on hover
.grow {
    @include transit-all( $transit-eio, 0.4s );

    &:hover {
        transform: scale(1.5);
    }
}