/**********************************************************************
Description: The default text elements styles for CMGTools.
Dependencies: variables, mixins
***********************************************************************/

html, body {
    font-family: $font-default;
    line-height: 1;
}

// Base Font Size following mobile first approach
body {
    font-size: 12px;
    color: $color-primary-text;

    @include responsive-min( screen-mobile-large ) {
        font-size: 14px;
    }

    @include responsive-min( screen-tablet-large ) {
        font-size: 16px;
    }
}

// Headers Font Size

h1, .h1 {
    font-size: $font-size-1;
}

h2, .h2 {
    font-size: $font-size-2;
}

h3, .h3 {
    font-size: $font-size-3;
}

h4, .h4 {
    font-size: $font-size-4;
}

h5, .h5 {
    font-size: $font-size-5;
}

h6, .h6 {
    font-size: $font-size-6;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .default-header {
    verticle-align: middle;
    padding: 0.25em 0;
    margin: 0.5em 0;
    font-family: $font-heading;
}

.h1, .h2, .h3, .h4, .h5, .h6, .default-header {
    font-weight: bold;
}

// Text Elements

p, span, em, div, a {
    font-size: $font-size-7;  
}

pre {
    font-family: $font-code;
}

// Font Weight

.bold {
    font-weight:bold;
}

.normal {
    font-weight:normal;
}