// Description: The variables used by CMGTools.
// Dependency: none

// Current Version
$version: '1.0.0-alpha1';

// Images Path
$images-path: '../images/';

// Default Fonts
$font-default: Arial, Helvetica, sans-serif; // Default Font - typography - body
$font-heading: Verdana, Geneva, sans-serif; // Font for Headers - typography - h1, h2, h3, h4, h5, h6, .default-header
$font-code: "Courier New", Courier, monospace; // Code Font - typography - pre

// Font Sizing - 1 to 6 are for headers, 7 for (p, a, em), 8 for errors, 9 for extra small text like copyright info
$font-size-1: 2.5em;
$font-size-2: 2.25em;
$font-size-3: 2.00em;
$font-size-4: 1.75em;
$font-size-5: 1.50em;
$font-size-6: 1.25em;

$font-size-7: 1em;

$font-size-8: 0.75em;
$font-size-9: 0.65em;

// Standard screen sizes -
//mobile
$screen-mobile-small: 320px;
$screen-mobile-large: 480px;

// Tablets
$screen-tablet-small: 768px;
$screen-tablet-large: 1024px;

//Desktop
$screen-desktop-small: 1280px;
$screen-desktop-medium: 1360px;
$screen-desktop-large: 1600px;
$screen-desktop-xlarge: 1920px;

// Standard size for element's radius, border, shadow
$size-default: 1px;
$size-small: 3px;
$size-medium: 5px;
$size-large: 10px;
$size-xlarge: 15px;

// Color Factor - We can use it using lighten/darken methods - ex: $color-primary-l: lighten( $color-primary, $color-factor )
$color-factor: 15;
$color-transparency-low: 0.25;
$color-transparency-medium: 0.50;
$color-transparency-high: 0.75;

// Primary Color:
$color-primary: #f2f2f2;
$color-primary-l: lighten( $color-primary, $color-factor );
$color-primary-d: darken( $color-primary, $color-factor );

// Primary Text Color:
$color-primary-text: #363636;
$color-primary-text-l: darken( $color-primary-text, $color-factor );
$color-primary-text-d: lighten( $color-primary-text, $color-factor );

// Secondary Color:
$color-secondary: #515151;
$color-secondary-l: lighten( $color-secondary, $color-factor );
$color-secondary-d: darken( $color-secondary, $color-factor );

// Secondary Text Color:
$color-secondary-text: #98a2ad;
$color-secondary-text-l: darken( $color-secondary-text, $color-factor );
$color-secondary-text-d: lighten( $color-secondary-text, $color-factor );

// Tertiary Color:
$color-tertiary: #CDA828;
$color-tertiary-l: lighten( $color-tertiary, $color-factor );
$color-tertiary-d: darken( $color-tertiary, $color-factor );

// Tertiary Text Color:
$color-tertiary-text: #ffffff;
$color-tertiary-text-l: darken( $color-tertiary, $color-factor );
$color-tertiary-text-d: lighten( $color-tertiary-l, $color-factor );

// Standard Colors
$color-white: #ffffff;
$color-gray: #7F7F7F;
$color-gray-l: #A5A5A5;
$color-gray-d: #595959;
$color-black: #000000;
$color-blue: #4553A1;
$color-yellow: #ffd800;
$color-red: #B42A1A;
$color-magenta: #9A2579;
$color-orange: #F2651E;
$color-green: #66A709;
$color-green-d: #467200;

// Highlighting Colors - errors, warnings and success
$color-error: #e74343;
$color-warning: #800020;
$color-success: #a5d75a;

// Form Fields Color
$color-field: #e1e1e1;
$color-field-text: #363636;
$color-field-h: #e9e9e9;    // Field Hover
$color-field-h-text: #363636;
$color-field-f: #e74343;    // Focused Field
$color-field-f-text: #363636;
$color-field-d: #e1e1e1;    // Disabled Field
$color-field-d-text: #464646;
$color-placeholder: #aaaaaa;  // Placeholder

// Regular Buttons
$color-btn: #e74343;
$color-btn-text: #FFFFFF;
$color-btn-h: #ff5555;    // Button Hover
$color-btn-h-text: white;
$color-btn-a: #b51717;    // Active Button
$color-btn-a-text: white;
$color-btn-d: gray;       // Disabled Button
$color-btn-d-text: #363636;

// Additional Colors
$color-header: #363636;
$color-header-text: #ffffff;
$color-footer: #363636;
$color-footer-text: #ffffff;

$color-link: #298ccf; // Default color for all the links
$color-social: #a5d75a; // Common for all social buttons
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-linkedin: #007bb5;
$color-pintrest: #cb2027;
$color-instagram: #125688;