.header {
    background-color:$color-secondary; 
    color:$color-secondary-text;
    padding: 1em 2em;
    
    img {
        margin:auto; 
        width:140px; 
        display:block;  
    }
}

.ui-icon {
    font-family:"cmti-core";
    content:"V";
}
