// The Grid Data acts as wrapper to the data. It follows mobile first approach.
.grid-data {

    // Grid Title
    .grid-title {

        .title {
            // grid title
        }

        .options {
            // grid options in header
        }
    }

    // Grid Sort
    .grid-sort {
        // The grid sort columns

        .wrap-sort {
            // Sort wrapper
        }
    }

    // Grid Filters
    .grid-filters {
        // The grid filters

        .wrap-filters {
            // Filter wrapper
        }
    }

    // Grid Report
    .grid-report {
        // The grid report having options to generate custom reports

        .grid-report-fields {
            // Wrapper for fields
        }

        .grid-report-actions {
            // Wrapper for actions
        }
    }

    // Grid Options
    .grid-options {
        // Grid Options having bulk and search options

        .wrap-bulk {
            // Bulk wrapper
        }

        .wrap-search {
            // Quick Search wrapper
        }
    }

    // Grid Header
    .grid-header {
        // Grid Header having pagination and import/export options
    }

    // Grid Content
    .grid-content {
        // Grid content like grid rows or blocks goes here

        // Grid Rows
        .grid-rows {
            display: none;

            &.active {
                display: block;
            }

            // rows header hidden for mobile
            .grid-rows-header {
                display: none;
                font-weight: bold;
            }

            .grid-row {

                &.grid-row-zebra {

                    &:nth-child( even ) {
                        background-color: $color-primary;
                    }
                }

                .grid-row-header {
                    // row title
                }

                .grid-row-data {
                    // row data - it can be anything ex: content box

                    .data {
                        display: inline-block;
                        width: 68%;
                        padding: 1%;
                        word-wrap: break-word;

                        &.title {
                            width: 28%;
                        }
                    }
                }

                .grid-row-footer {
                    // row footer
                }
            }

            // rows footer hidden for mobile
            .grid-rows-footer {
                display: none;
                font-weight: bold;
            }
        }

        // Grid Cards
        .grid-cards {
            display: none;

            &.active {
                display: block;
            }

            .grid-card {

                .grid-card-header {
                    // card title
                }

                .grid-card-data {
                    // card data - it can be anything ex: content box
                }

                .grid-card-footer {
                    // card footer
                }
            }
        }
    }

    // Grid Footer
    .grid-footer {
        // Grid Footer having pagination and import/export options. It's similar to Grid Header
    }

    @include responsive-min( screen-tablet-large ) {

        // Grid Content Wrapper
        .grid-content {

            // Grid Rows
            .grid-rows {

                .grid-rows-header {
                    display: block;
                }

                .grid-row {

                    .grid-row-header {
                        display: none;
                    }

                    .grid-row-data {

                        .data {
                            width: 100%;
                            padding: 0;

                            &.title {
                                display: none;
                            }
                        }
                    }
                }

                .grid-rows-footer {
                    display: block;
                }
            }
        }
    }
}

// Basic Grid
.grid-basic {
    background-color: $color-primary-d;
    padding: 10px;

    // Grid Header
    .grid-header {
        background-color: $color-secondary;
        color: $color-secondary-text;
        padding: 0.25em 10px;
        text-align: right;
        min-height: 2em;

        .info {
            display: inline-block;
            float: left;
            padding: 0.25em 0.5em;
        }
    }

    // Grid Footer
    .grid-footer {
        background-color: $color-secondary;
        color: $color-secondary-text;
        padding: 0.25em 10px;
        text-align: right;
        min-height: 2em;

        .info {
            display: inline-block;
            float: left;
            padding: 0.25em 0.5em;
        }
    }

    // Grid Rows
    .grid-rows {
        margin: 10px 0;

        // Avatar in grid rows
        .avatar {
            width: 48px;
        }
    }

    // Grid Pagination
    .pagination {

        &, li {
            display: inline-block;
            list-style: none;
        }

        li {
            margin: 0 0.5em;

            span, a {
                display: inline-block;
                background-color: $color-tertiary;
                color: $color-primary-l;
                @include rounded( 5px );
                font-size: 1em;
                padding: 0.25em 0.5em;
                @include transit-bkg-color( $transit-eio, $transit-time-small );

                &:hover {
                    background-color: $color-tertiary-l;
                    color: $color-tertiary-text-l;
                }
            }

            &.disabled, &.disabled:hover {

                span, a {
                    background-color: gray;
                    color: $color-primary;
                }
            }
        }
    }
}