// Sorting
.wrap-sort {

    .sort {
        cursor: pointer;

        &.sort-inline {
            padding-right: 0.5rem;
        }

        &.sort-asc {
            color: $color-success !important;
        }

        &.sort-desc {
            color: $color-error !important;
        }
    }
}
