/**********************************************************************
Description: The reset CSS Inspired by Eric Meyer(http://meyerweb.com),
HTML5 Doctor(http://html5doctor.com) and HTML5 Boilerplate aims to make a
custom reset css for CMT-UI.
Dependencies: variables
***********************************************************************/

// == From Eric Meyer ==

// Normalising the margin, padding, border, font-size
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	background: transparent;
}

// Display fix
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

// Overflow
html {
	overflow-y: scroll;
}

// Line height
body {
	line-height: 1;
}

// Code snippets
code, kbd, pre, samp {
	font-family: $font-code;
	font-size: $font-size-7;
}

// Default list style to none
ol, ul, nav {
	list-style: none;
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}

// Quotes fix
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

// Table border and width
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th {
	font-weight: bold;
	vertical-align: top;
}

td {
	font-weight: normal;
	vertical-align: top;
}

// == Enhanced HTML5 Doctor =========

// Ins, mark and del
ins {
	background-color: $color-secondary;
	color: $color-secondary-text;
	text-decoration: none;
}

mark {
	background-color: $color-secondary;
	color: $color-secondary-text;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[ title ], dfn[ title ] {
	border-bottom: 1px dotted $color-secondary;
	cursor: help;
}

hr {
	display: block;
	height: 1px;
	padding: 0;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: auto;    // required for fixed width hr
	margin-right: auto;   // required for fixed width hr
	border: none;
	@include border-top( 1px, solid, $color-hr );
}

input, select {
	vertical-align: middle;
}

// == Enhanced HTML5 Boilerplate ====

// Selection text shadow

::selection {
	background: $color-secondary;
	text-shadow: none;
}

// Removes gap between element and bottom of parent
audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

// Reset fieldset
fieldset {
	margin-bottom: 1rem;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

// Resize vertically and text positioning
textarea {
	resize: vertical;
	overflow: auto;
	vertical-align: top;
}

// == murtaugh ======================

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 2.1 and 3 */
	word-wrap: break-word; /* IE */
}

td img {
	vertical-align: top;
}

// sub and sup fixes

sub, sup {
	font-size: $font-size-9;
	line-height: 0;
	position: relative;
	vertical-align: middle;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

// == Others & self =================

// Anchor Fix

a {
	text-decoration: none;
	cursor: pointer;
}

a:focus {
	outline: 0;
}

a:active, a:hover {
	outline: 0;
}

// Display - audio, canvas, video

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not( [controls] ) {
	display: none;
	height: 0;
}

svg:not( :root ) {
	overflow: hidden;
}

// Typography

small {
	font-size: $font-size-8;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

// fix space issue

[ hidden ] {
	display: none;
}

// Form Reset

button, input, select, textarea {
	margin: 0;
}

// Buttons

.clickable, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"] {
	-webkit-appearance: button;
	cursor: pointer;
	width: auto;
	overflow: hidden;
}

button[disabled], input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

// Search

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

// Radio & Checkbox

input[type="checkbox"], input[type="radio"] {
	padding: 0;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}
