/**********************************************************************
Description: This file define the extended variables used by CMT-UI css framework. These are derived using
             primary variables.

Dependencies: variables

Details: It defines the extended variables derived from primary variables as listed below:
* Border & Gradient - This section define the colors for border, hr and gradient.
* Transparency      - This section define the variables for transparency.
*                     3 Color Scheme    - Medium transparency applied to primary theme colors.
*                     Gray shades       - Transparency effect applied to shades of gray.
*                     Standard colors   - Medium transparency applied to primary theme colors.
***********************************************************************/

// Border, Gradient
$color-border: $color-secondary;
$color-hr: $color-secondary;
$color-gradient-1: $color-primary;
$color-gradient-2: $color-secondary;

// Transparent Colors
$color-transparent-primary: rgba( $color-primary, $color-transparent-medium );
$color-transparent-secondary: rgba( $color-secondary, $color-transparent-medium );
$color-transparent-tertiary: rgba( $color-tertiary, $color-transparent-medium );

$color-transparent-white: rgba( $color-white, $color-transparent-medium );
$color-transparent-gray: rgba( $color-gray, $color-transparent-medium );
$color-transparent-black-l: rgba( $color-black, $color-transparent-low );
$color-transparent-black: rgba( $color-black, $color-transparent-medium );
$color-transparent-black-h: rgba( $color-black, $color-transparent-high );

$color-transparent-blue: rgba( $color-blue, $color-transparent-medium );
$color-transparent-purple: rgba( $color-purple, $color-transparent-medium );

$color-transparent-orange: rgba( $color-orange, $color-transparent-medium );
$color-transparent-yellow: rgba( $color-yellow, $color-transparent-medium );

$color-transparent-red: rgba( $color-red, $color-transparent-medium );
$color-transparent-pink: rgba( $color-pink, $color-transparent-medium );
$color-transparent-magenta: rgba( $color-magenta, $color-transparent-medium );

$color-transparent-green: rgba( $color-green, $color-transparent-medium );
$color-transparent-green-d: rgba( $color-green-d, $color-transparent-medium );