/**********************************************************************
Description: It defines the styles of cmt slider available in CMT-UI css framework. It requires cmtSlider plugin from CMT-JS library.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles of cmt slider as listed below:

* CMT Slider  - The barebone slider with minimum styles to arrange slides and controls.
*
* Basic       - The basic slider defines the styles of slider having fixed with slides and slider width is also defined.
*
* Basic Fixed - The basic fixed slider works on top of basic slider. It's full width and responsive slider considering
				slides are visible fully on each device. The controls will be placed on left and right side without
				overlapping slides.

* Basic Lightbox - The lightbox will add effects on slides to show them on a lightbox. A larger image might be displayed
				around the slides.

***********************************************************************/

// == Structure - Slider ============

.cmt-slider {
	position: relative;

	.cmt-slider-slides-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.cmt-slider-slides {
			position: absolute;
			top: 0px;
			width: 100%;
			height: 100%;

			.cmt-slider-slide {
				position: absolute;
				top: 0px;
				left: 0px;
				overflow: hidden;
			}
		}
	}

	.cmt-slider-control {
		cursor: pointer;
		position: absolute;

		&.cmt-slider-control-left {
			top: 0;
			left: 0;
		}

		&.cmt-slider-control-right {
			top: 0;
			right: 0;
		}
	}
}

// == Basic =========================

// Basic slider having fixed width slides
.cmt-slider-basic {
	margin: 0px auto;
	width: 450px;

	.cmt-slider-slides-wrap {
		height: 150px;

		.cmt-slider-slides {

			.cmt-slider-slide {
				width: 150px;
				height: 150px;
				background-color: $color-secondary;
				color: $color-secondary-text;
				text-align: center;
			}
		}
	}

	.cmt-slider-control {
		background-color: $color-tertiary;
		color: $color-tertiary-text;
		top: 35px;
		width: 64px;
		height: 80px;

		&:hover {
			background-color: $color-tertiary-l;
		}

		&.cmt-slider-control-bkg {
			background-image: url( "../images/slider-arrow.png" );
			background-repeat: none;
			background-position: 0px 0px;

			&.cmt-slider-control-left {
				left: 20px;
				background-position: 0px 80px;

				&:hover {
					background-position: 0px 0px;
				}
			}

			&.cmt-slider-control-right {
				right: 20px;
				background-position: -48px 80px;

				&:hover {
					background-position: -48px 0px;
				}
			}
		}
	}
}

// TODO: Add basic slider having controls overlapping on slide.

// == Basic - Fixed =================

.cmt-slider-basic-fixed {
	width: 1628px;

	.cmt-slider-slides-wrap {
		width: 1500px;
		margin: 0 64px;
	}

	@include responsive-max( screen-desktop-large ) {
		width: 1328px;

		.cmt-slider-slides-wrap {
			width: 1200px;
		}
	}

	@include responsive-max( screen-desktop-medium ) {
		width: 1028px;

		.cmt-slider-slides-wrap {
			width: 900px;
		}
	}

	@include responsive-max( screen-tablet-large ) {
		width: 690px;

		.cmt-slider-slides-wrap {
			width: 600px;
			height: 100px;
			margin: 0 45px;

			.cmt-slider-slides {

				.cmt-slider-slide {
					width: 100px;
					height: 100px;
				}
			}
		}

		.cmt-slider-control {
			width: 45px;
			height: 100px;
		}
	}

	@include responsive-max( screen-tablet-small ) {
		width: 440px;

		.cmt-slider-slides-wrap {
			width: 360px;
			height: 90px;

			.cmt-slider-slides {

				.cmt-slider-slide {
					width: 90px;
					height: 90px;
				}
			}
		}

		.cmt-slider-control {
			width: 40px;
			height: 90px;
		}
	}

	@include responsive-max( screen-mobile-large ) {
		width: 260px;

		.cmt-slider-slides-wrap {
			width: 180px;
		}
	}
}

// == Basic - Lightbox ==============

// TODO : Add lightbox popup styles

.cmt-slider-lightbox {

	.cmt-slider-image {
		// Wrapper to show larger image
	}

	// Slider will form thumbnail filmstrip.
	.cmt-slider-slides-wrap {

		.cmt-slider-slides {

			.cmt-slider-slide {
				cursor: pointer; // Trigger Lightbox
				@include shadow-inset( 1px, 1px, 100px, $color-black, $spread: 0px );

				&:hover {
					@include transit-all( $transit-eio, $transit-time-small );
					@include shadow-inset( 0px, 0px, 0px, $color-black, $spread: 0px );
				}
			}
		}
	}
}
