<div class="blog-posts-basic">
<div class="post clearfix">
<div class="post-banner">
<a href="/frontend/web/post/test-post-1">
<img class="bkg-fill" src="/frontend/web/images/logo.png">
</a>
</div>
<div class="post-content">
<div class="post-author">
<div class="post-author-avatar circled1">
<img src="/frontend/web/images/avatar.png">
</div>
<div class="post-author-info">
<p class="bold">demo master</p>
<p>2015-11-18 15:01:10</p>
</div>
</div>
<h2 class="post-title italic">
<a href="/frontend/web/post/test-post-1">test post 1</a>
</h2>
<p>test post 1 test post 1 test post 1 test post 1 test post 1 test post 1 test post 1 test post 1 test post 1 test post 1</p>
<div class="align align-right">
<ul>
<li class="italic">Share</li>
<li>
<a class="cmti cmti-social-facebook"></a>
</li>
<li>
<a class="cmti cmti-social-twitter"></a>
</li>
</ul>
</div>
</div>
</div>
<div class="pagination-detailed clearfix">
<div class="info">Showing 1 to 1 out of 1 entries</div>
</div>
</div>
</div>