/**********************************************************************
Description: It defines the styles of the block components forming the page. We can devide the entire page in one or
			 more blocks. Each block can have background image with or without parallax effect, a content wrapper which
			 wraps block header and content.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles for header components as listed below:

* Block       - The barebone block class with minimum styles common for all the blocks. The base class can have below
*               listed options:
*                   - It can have background image with or without parallax effects.
*                   - The content wrapper wraps the block header and block content. This gives opportunity to set block
*                     background and even content wrapper background in the form of image or texture.
*                   - Height of block must not be set using min-height to get background with parallax working.
*
* Basic       - It occupy 100% width and height of it's parent. The height in % won't work in case parent's min-height
*               property is set. In such cases we need JS based solution. It works well with cmtBlock jQuery plugin provided
*               by CMT-JS framework.
***********************************************************************/

// == Structure - Block =============

.block {
	position: relative;

	// responsive background
	.block-bkg {
		@include bkg-image;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	// fixed background
	.block-bkg-fixed {
		@include bkg-image-fixed;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	// scrollable background
	.block-bkg-scroll {
		@include bkg-image-scroll;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	// parallax background
	.block-bkg-parallax {
		@include bkg-image;
		width: 100%;
		height: 150%;
		position: absolute;
		top: -50%;
		left: 0;
		z-index: 5;
	}

	// Texture on top of block background but under content
	> .texture {
		z-index: 10;
	}

	// Content Wrapper on top of texture
	.block-content-wrap {
		position: relative;
		z-index: 15;

		// Block Header
		.block-header-wrap {
			position: relative;

			.block-header {
				position: relative;

				.block-header-icon {
					// Header icon
				}

				.block-header-title {
					// Header title
				}

				.block-header-info {
					// Header Info
				}

				.block-header-content {
					// Header content
				}
			}
		}

		// Block Content
		.block-content {
			position: relative;

			.block-content-title {
				// Content title
			}
			
			.block-content-info {
				// Content info
			}

			.block-content-summary {
				// Content info
			}

			.block-content-data {
				position: relative;
				// Text Content
			}

			.block-content-buffer {
				position: relative;
				// Additional data
			}

			// Wraps Block Boxes
			.block-box-wrap {
				
				.block-box {
					// Box layout - derived from box component
				}
			}
			
			// Wraps Block Widgets
			.block-widget-wrap {
				// Widget Data

				.block-widget {
					// Widget layout - derived from widget component
				}
			}
		}

		// Block Sidebar
		.block-sidebar {
			// Block sidebar in case block is splitted into content and sidebar
		}

		// Wraps Blocks
		.block-wrap {
			// Blocks embedded within the block
		}

		// Block Footer
		.block-footer-wrap {
			position: relative;

			.block-footer {
				position: relative;

				.block-footer-icon {
					// Footer icon
				}

				.block-footer-title {
					// Footer title
				}

				.block-footer-info {
					// Footer Info
				}

				.block-footer-content {
					// Footer Content
				}
			}
		}
	}

	// The splitter seperate a block from it's immediate successor
	.block-splitter {
		position: absolute;
		width: 100%;
		height: 100px;
		text-align: center;
		z-index: 10000;

		&.block-splitter-top {
			top: 0;
			margin-top: -50px;
		}

		&.block-splitter-bottom {
			bottom: 0;
			margin-bottom: -50px;
		}

		.block-splitter-icon {
			display: inline-block;
			width: 100px;
			height: 100px;
		}
	}
}

// == Basic Block ===================

.block-basic {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
