/**********************************************************************
Description: It defines the styles for the footer components available in CMGTools.
Dependencies: variables, variables-ext, mixins
***********************************************************************/

// Standard footer
.footer-standard {
    background-color: $color-primary;
    color: $color-primary-text;
    width: 100%;
    min-height: 50px;
    z-index: 10000;

    &.sticky {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    p {
        color: $color-primary-text;
    }
}