//User to placeholder upward
/*
input[type="text"]:focus::-webkit-input-placeholder {
  color: red;
  line-height:0.5em;
  font-size:0.75em;
}
input[type="text"]:focus::-moz-placeholder {
  color: red;
  line-height:0em;
  font-size:0.75em;
}
input[type="text"]:-moz-placeholder {    
  color: red;
  line-height:0.5em;
  font-size:0.75em;
}
input[type="text"]:-ms-input-placeholder { 
  color: red;
  line-height:0.5em;
  font-size:0.75em;
}  */