@font-face {
  font-family: "cmti-core";
  src: url("../fonts/cmgtools/cmti-core.eot");
  src: url("../fonts/cmgtools/cmti-core.eot?#iefix") format("embedded-opentype"), url("../fonts/cmgtools/cmti-core.woff") format("woff"), url("../fonts/cmgtools/cmti-core.ttf") format("truetype"), url("../fonts/cmgtools/cmti-core.svg#cmti-core") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-cmti]:before {
  font-family: "cmti-core" !important;
  content: attr(data-cmti);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cmti-"]:before,
[class*=" cmti-"]:before {
  font-family: "cmti-core" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmti-ambulance:before {
  content: "a";
}

.cmti-anchor:before {
  content: "b";
}

.cmti-angle-down:before {
  content: "c";
}

.cmti-angle-left:before {
  content: "d";
}

.cmti-angle-right:before {
  content: "e";
}

.cmti-angle-up:before {
  content: "f";
}

.cmti-approve:before {
  content: "g";
}

.cmti-arrow-down:before {
  content: "h";
}

.cmti-arrow-down-b:before {
  content: "i";
}

.cmti-arrow-left:before {
  content: "j";
}

.cmti-arrow-left-b:before {
  content: "k";
}

.cmti-arrow-right:before {
  content: "l";
}

.cmti-arrow-right-b:before {
  content: "m";
}

.cmti-arrow-up:before {
  content: "n";
}

.cmti-arrow-up-b:before {
  content: "o";
}

.cmti-attachment:before {
  content: "p";
}

.cmti-bag:before {
  content: "q";
}

.cmti-bag-b:before {
  content: "r";
}

.cmti-ban:before {
  content: "s";
}

.cmti-ban-b:before {
  content: "t";
}

.cmti-basket:before {
  content: "u";
}

.cmti-basket-air:before {
  content: "v";
}

.cmti-basket-b:before {
  content: "w";
}

.cmti-bed:before {
  content: "x";
}

.cmti-bed-b:before {
  content: "y";
}

.cmti-bell:before {
  content: "z";
}

.cmti-bell-b:before {
  content: "A";
}

.cmti-bin:before {
  content: "B";
}

.cmti-building:before {
  content: "C";
}

.cmti-buy:before {
  content: "D";
}

.cmti-calendar:before {
  content: "E";
}

.cmti-calendar-b:before {
  content: "F";
}

.cmti-cart-bag:before {
  content: "G";
}

.cmti-chart-area:before {
  content: "H";
}

.cmti-chart-area-b:before {
  content: "I";
}

.cmti-chart-column:before {
  content: "J";
}

.cmti-chart-donut:before {
  content: "K";
}

.cmti-chart-down:before {
  content: "L";
}

.cmti-chart-down-zig:before {
  content: "M";
}

.cmti-chart-pie:before {
  content: "N";
}

.cmti-chart-up:before {
  content: "O";
}

.cmti-chart-up-zig:before {
  content: "P";
}

.cmti-check:before {
  content: "Q";
}

.cmti-check-b:before {
  content: "R";
}

.cmti-check-report:before {
  content: "S";
}

.cmti-checkbox:before {
  content: "T";
}

.cmti-checkbox-active:before {
  content: "U";
}

.cmti-checkbox-c:before {
  content: "V";
}

.cmti-checkbox-c-active:before {
  content: "W";
}

.cmti-chevron-down:before {
  content: "X";
}

.cmti-chevron-down-b:before {
  content: "Y";
}

.cmti-chevron-left:before {
  content: "Z";
}

.cmti-chevron-left-b:before {
  content: "0";
}

.cmti-chevron-right:before {
  content: "1";
}

.cmti-chevron-right-b:before {
  content: "2";
}

.cmti-chevron-up:before {
  content: "3";
}

.cmti-chevron-up-b:before {
  content: "4";
}

.cmti-close:before {
  content: "5";
}

.cmti-close-b:before {
  content: "6";
}

.cmti-close-o:before {
  content: "7";
}

.cmti-close-o-b:before {
  content: "8";
}

.cmti-comment:before {
  content: "9";
}

.cmti-comment-b:before {
  content: "!";
}

.cmti-crop:before {
  content: "\"";
}

.cmti-curency-dollar:before {
  content: "#";
}

.cmti-curency-dollar-b:before {
  content: "$";
}

.cmti-dashboard:before {
  content: "%";
}

.cmti-design-tools:before {
  content: "&";
}

.cmti-document:before {
  content: "'";
}

.cmti-document-b:before {
  content: "(";
}

.cmti-door:before {
  content: ")";
}

.cmti-door-b:before {
  content: "*";
}

.cmti-door-o:before {
  content: "+";
}

.cmti-door-o-b:before {
  content: ",";
}

.cmti-earth:before {
  content: "-";
}

.cmti-edit:before {
  content: ".";
}

.cmti-emotcmtis-happy:before {
  content: "/";
}

.cmti-emotcmtis-hopeful:before {
  content: ":";
}

.cmti-emotcmtis-intense:before {
  content: ";";
}

.cmti-emotcmtis-sad:before {
  content: "<";
}

.cmti-emotcmtis-sulk:before {
  content: "=";
}

.cmti-emotcmtis-surprise:before {
  content: ">";
}

.cmti-envelope:before {
  content: "?";
}

.cmti-envelope-b:before {
  content: "@";
}

.cmti-equalizer:before {
  content: "[";
}

.cmti-exchange:before {
  content: "]";
}

.cmti-eye:before {
  content: "^";
}

.cmti-eye-off:before {
  content: "_";
}

.cmti-file:before {
  content: "`";
}

.cmti-file-archive:before {
  content: "{";
}

.cmti-file-audio:before {
  content: "|";
}

.cmti-file-code:before {
  content: "}";
}

.cmti-file-copy:before {
  content: "~";
}

.cmti-file-image:before {
  content: "\\";
}

.cmti-file-text:before {
  content: "\e000";
}

.cmti-file-video:before {
  content: "\e001";
}

.cmti-film:before {
  content: "\e002";
}

.cmti-flag:before {
  content: "\e003";
}

.cmti-flag-b:before {
  content: "\e004";
}

.cmti-flexible:before {
  content: "\e005";
}

.cmti-flexible-b:before {
  content: "\e006";
}

.cmti-flexible-o:before {
  content: "\e007";
}

.cmti-forward:before {
  content: "\e008";
}

.cmti-forward-b:before {
  content: "\e009";
}

.cmti-forward-c:before {
  content: "\e00a";
}

.cmti-forward-c-b:before {
  content: "\e00b";
}

.cmti-gift:before {
  content: "\e00c";
}

.cmti-gift-b:before {
  content: "\e00d";
}

.cmti-glass:before {
  content: "\e00e";
}

.cmti-glass-b:before {
  content: "\e00f";
}

.cmti-grid:before {
  content: "\e010";
}

.cmti-grid-b:before {
  content: "\e011";
}

.cmti-groups:before {
  content: "\e012";
}

.cmti-groups-b:before {
  content: "\e013";
}

.cmti-guarantee:before {
  content: "\e014";
}

.cmti-headphone:before {
  content: "\e015";
}

.cmti-heart:before {
  content: "\e016";
}

.cmti-heart-b:before {
  content: "\e017";
}

.cmti-heart-beat:before {
  content: "\e018";
}

.cmti-hierarchy:before {
  content: "\e019";
}

.cmti-home:before {
  content: "\e01a";
}

.cmti-home-b:before {
  content: "\e01b";
}

.cmti-image:before {
  content: "\e01c";
}

.cmti-image-b:before {
  content: "\e01d";
}

.cmti-instrument-piano:before {
  content: "\e01e";
}

.cmti-joystick:before {
  content: "\e01f";
}

.cmti-key:before {
  content: "\e020";
}

.cmti-key-b:before {
  content: "\e021";
}

.cmti-list:before {
  content: "\e022";
}

.cmti-list-small:before {
  content: "\e023";
}

.cmti-lock-close:before {
  content: "\e024";
}

.cmti-lock-close-b:before {
  content: "\e025";
}

.cmti-lock-open:before {
  content: "\e026";
}

.cmti-lock-open-b:before {
  content: "\e027";
}

.cmti-login:before {
  content: "\e028";
}

.cmti-login-b:before {
  content: "\e029";
}

.cmti-logout:before {
  content: "\e02a";
}

.cmti-logout-b:before {
  content: "\e02b";
}

.cmti-marker:before {
  content: "\e02c";
}

.cmti-marker-b:before {
  content: "\e02d";
}

.cmti-mic:before {
  content: "\e02e";
}

.cmti-minus:before {
  content: "\e02f";
}

.cmti-money-return:before {
  content: "\e030";
}

.cmti-music-off:before {
  content: "\e031";
}

.cmti-music-off-b:before {
  content: "\e032";
}

.cmti-music-on:before {
  content: "\e033";
}

.cmti-music-on-b:before {
  content: "\e034";
}

.cmti-page:before {
  content: "\e035";
}

.cmti-page-b:before {
  content: "\e036";
}

.cmti-pen:before {
  content: "\e037";
}

.cmti-pen-b:before {
  content: "\e038";
}

.cmti-pencil:before {
  content: "\e039";
}

.cmti-pencil-b:before {
  content: "\e03a";
}

.cmti-permission:before {
  content: "\e03b";
}

.cmti-phone:before {
  content: "\e03c";
}

.cmti-plane:before {
  content: "\e03d";
}

.cmti-plane-b:before {
  content: "\e03e";
}

.cmti-plus:before {
  content: "\e03f";
}

.cmti-power:before {
  content: "\e040";
}

.cmti-power-b:before {
  content: "\e041";
}

.cmti-prize:before {
  content: "\e042";
}

.cmti-prize-b:before {
  content: "\e043";
}

.cmti-product:before {
  content: "\e044";
}

.cmti-radio:before {
  content: "\e045";
}

.cmti-radio-active:before {
  content: "\e046";
}

.cmti-rent:before {
  content: "\e047";
}

.cmti-return:before {
  content: "\e048";
}

.cmti-return-b:before {
  content: "\e049";
}

.cmti-return-c:before {
  content: "\e04a";
}

.cmti-return-c-b:before {
  content: "\e04b";
}

.cmti-rotate-left:before {
  content: "\e04c";
}

.cmti-rotate-left-b:before {
  content: "\e04d";
}

.cmti-rotate-right:before {
  content: "\e04e";
}

.cmti-rotate-right-b:before {
  content: "\e04f";
}

.cmti-save:before {
  content: "\e050";
}

.cmti-scissor:before {
  content: "\e051";
}

.cmti-server:before {
  content: "\e052";
}

.cmti-setting:before {
  content: "\e053";
}

.cmti-setting-b:before {
  content: "\e054";
}

.cmti-shipping-free:before {
  content: "\e055";
}

.cmti-slider:before {
  content: "\e056";
}

.cmti-social-amazon:before {
  content: "\e057";
}

.cmti-social-apple:before {
  content: "\e058";
}

.cmti-social-ebay:before {
  content: "\e059";
}

.cmti-social-evernote:before {
  content: "\e05a";
}

.cmti-social-facebook:before {
  content: "\e05b";
}

.cmti-social-gmail:before {
  content: "\e05c";
}

.cmti-social-google:before {
  content: "\e05d";
}

.cmti-social-google-plus:before {
  content: "\e05e";
}

.cmti-social-instagram:before {
  content: "\e05f";
}

.cmti-social-linkedin:before {
  content: "\e060";
}

.cmti-social-picasa:before {
  content: "\e061";
}

.cmti-social-pinterest:before {
  content: "\e062";
}

.cmti-social-skype:before {
  content: "\e063";
}

.cmti-social-twitter:before {
  content: "\e064";
}

.cmti-social-vimeo:before {
  content: "\e065";
}

.cmti-social-wordpress:before {
  content: "\e066";
}

.cmti-social-yahoo:before {
  content: "\e067";
}

.cmti-social-youtube:before {
  content: "\e068";
}

.cmti-sound-off:before {
  content: "\e069";
}

.cmti-sound-off-b:before {
  content: "\e06a";
}

.cmti-sound-on:before {
  content: "\e06b";
}

.cmti-sound-on-b:before {
  content: "\e06c";
}

.cmti-star:before {
  content: "\e06d";
}

.cmti-star-b:before {
  content: "\e06e";
}

.cmti-star-half:before {
  content: "\e06f";
}

.cmti-tachometer:before {
  content: "\e070";
}

.cmti-tag:before {
  content: "\e071";
}

.cmti-tag-b:before {
  content: "\e072";
}

.cmti-thumbs-down:before {
  content: "\e073";
}

.cmti-thumbs-down-b:before {
  content: "\e074";
}

.cmti-thumbs-up:before {
  content: "\e075";
}

.cmti-thumbs-up-b:before {
  content: "\e076";
}

.cmti-todo:before {
  content: "\e077";
}

.cmti-tweeter:before {
  content: "\e078";
}

.cmti-tweeter-b:before {
  content: "\e079";
}

.cmti-user:before {
  content: "\e07a";
}

.cmti-user-add:before {
  content: "\e07b";
}

.cmti-user-approved:before {
  content: "\e07c";
}

.cmti-user-b:before {
  content: "\e07d";
}

.cmti-user-blocked:before {
  content: "\e07e";
}

.cmti-user-executive:before {
  content: "\e07f";
}

.cmti-user-executive-o:before {
  content: "\e080";
}

.cmti-user-full:before {
  content: "\e081";
}

.cmti-user-full-b:before {
  content: "\e082";
}

.cmti-user-group:before {
  content: "\e083";
}

.cmti-user-o:before {
  content: "\e084";
}

.cmti-user-o-b:before {
  content: "\e085";
}

.cmti-user-stranger:before {
  content: "\e086";
}

.cmti-user-stranger-b:before {
  content: "\e087";
}

.cmti-vc-cmgtools:before {
  content: "\e088";
}

.cmti-vc-cmsgears:before {
  content: "\e089";
}

.cmti-vc-foxslider:before {
  content: "\e08a";
}

.cmti-vc-vulpinecode:before {
  content: "\e08b";
}

.cmti-wallet:before {
  content: "\e08c";
}

.cmti-widget:before {
  content: "\e08d";
}

.cmti-zoom-in:before {
  content: "\e08e";
}

.cmti-zoom-in-b:before {
  content: "\e08f";
}

.cmti-zoom-out:before {
  content: "\e090";
}

.cmti-zoom-out-b:before {
  content: "\e091";
}

.cmti {
  font-size: 1em;
  display: inline-block;
}
.cmti.cmti-2x {
  font-size: 2em;
}
.cmti.cmti-3x {
  font-size: 3em;
}
.cmti.cmti-4x {
  font-size: 4em;
}
.cmti.cmti-5x {
  font-size: 5em;
}
.cmti.cmti-action {
  cursor: pointer;
}

/*# sourceMappingURL=cmti.css.map */
