/**********************************************************************
Description: It defines the styles for the FoxSlider Widget for CMSGears following components approach.
Dependencies: variables, mixins
***********************************************************************/

// The default fox slider component.
.fx-slider-basic {
    position: relative;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    height: 100%;

    .slides-wrap {
        position: absolute;
        top: 0px;
        width: 100%; 
        height: 100%;
        z-index: 1;
    }

    .slide, .slide-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 5;
        overflow: hidden;
    }

    /* Slide Background Image */
    .slide-content {
        @include bkg-image;
        
        .wrap-content {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;

            // Can be used if slides are textured
            .texture {
                z-index: 5;
            }
    
            // Slide content
            .content {
                position: relative;
                z-index: 10;
            }
        }
    }

    /* Slider Controls */
    .control {
        color: $color-primary-text;
        cursor: pointer;
        font-weight: bold;
        height: 80px;
        width: 48px;
        position:relative;
        z-index: 50;
        top: 45%;
        background-image: url( $images-path + "slider-arrow.png" );
        background-repeat: none;
        background-position: 0px 0px;
    }

    .control-left {
        float: left;
        left: 20px;
        background-position: 0px 80px;

        &:hover {
            background-position: 0px 0px;
        }
    }

    .control-right {
        float: right;
        right: 20px;
        background-position: -48px 80px;

        &:hover {
            background-position: -48px 0px;
        }
    }

    /* Slider Bullets */
    .bullets {
        position: absolute;
        bottom: 70px;
        width: 100%;
        height: 30px;
        text-align: center;
        z-index: 15;

        .bullet {
            width: 16px;
            height: 16px;
            color: white;
            border-radius: 9px;
            font-size: 12px;
            cursor: pointer;
            margin-right: 5px;
            margin-top: 3px;
            display: inline-block;
            background-image: url( $images-path + "slider-bullet.png" );
            background-position: -16px 0px;
    
            &:hover {
                background-position: 0px 0px;
            }
    
            &.active {
                background-position: 0px 0px;
            }
        }
    }
}

// The regular fox slider component. It differs with basic for header and content style. The slide header is absolute and content is positioned at center of slide.
.fx-slider-regular {
    position: relative;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    height: 100%;

    .slides-wrap {
        position: absolute;
        top: 0px;
        width: 100%; 
        height: 100%;
        z-index: 1;
    }

    .slide, .slide-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 5;
        overflow: hidden;
    }

    /* Slide Background Image */
    .slide-content {
        @include bkg-image;

        // Can be used if slides are textured
        .texture {
            z-index: 5;
        }

        .wrap-content {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;

            // Slide Header
            .header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;          
            }
    
            // Slide content
            .content {
                position: relative;
                z-index: 10;
                background-color: $color-transparent-black;
                color: $color-primary;
                font-family: $font-default;
                font-size: 1.5em;
                width: 75%;
                padding: 50px;
                margin: 0px auto;
                @include valign-center;
            }
        }
    }

    /* Slider Controls */
    .control {
        color: $color-primary-text;
        cursor: pointer;
        font-weight: bold;
        height: 80px;
        width: 48px;
        position:relative;
        z-index: 50;
        top: 45%;
        background-image: url( $images-path + "slider-arrow.png" );
        background-repeat: none;
        background-position: 0px 0px;
    }

    .control-left {
        float: left;
        left: 20px;
        background-position: 0px 80px;

        &:hover {
            background-position: 0px 0px;
        }
    }

    .control-right {
        float: right;
        right: 20px;
        background-position: -48px 80px;

        &:hover {
            background-position: -48px 0px;
        }
    }

    /* Slider Bullets */
    .bullets {
        position: absolute;
        bottom: 70px;
        width: 100%;
        height: 30px;
        text-align: center;
        z-index: 15;

        .bullet {
            width: 16px;
            height: 16px;
            color: white;
            border-radius: 9px;
            font-size: 12px;
            cursor: pointer;
            margin-right: 5px;
            margin-top: 3px;
            display: inline-block;
            background-image: url( $images-path + "slider-bullet.png" );
            background-position: -16px 0px;
    
            &:hover {
                background-position: 0px 0px;
            }
    
            &.active {
                background-position: 0px 0px;
            }
        }
    }
}