// == Structure - Auto Fill =========

// It can use auto mapper component to show mappings.
.auto-fill {
	position: relative;

	.auto-fill-source {
		position: relative;
		z-index: 100000;

		// Search field wrapper
		.auto-fill-search {

			.auto-fill-text {
				// Search field
			}
		}

		// Search results
		.auto-fill-items-wrap {
			position: relative;

			.auto-fill-items {
				// Items
				display: none;

				.auto-fill-item {
					// Item
				}

				.auto-fill-message {
					// Message
				}
			}
		}
	}

	// auto mapper - part of auto fill component
	.auto-fill-target {
		position: relative;
	}
}

// == Basic Auto Fill (Suggest) =====

// It can use auto mapper component to show mappings.
.auto-fill-basic {

	.auto-fill-source {

		// Search results
		.auto-fill-items-wrap {

			.auto-fill-items {
				position: absolute;
				width: 100%;

				.auto-fill-item {
					background-color: $color-primary-d;
					color: $color-primary-text-d;
					padding: 0.5em;
					cursor: pointer;
				}

				.auto-fill-message {
					background-color: $color-primary-d;
					color: $color-primary-text-d;
				}
			}
		}
	}
}
