/**********************************************************************
Description: It defines the styles for html elements except form and table for CMT-UI css framework.

Dependencies: none

Details: It defines the styles for html elements as listed below:
* Fieldset    - The fieldset can be used to group elements with appropriate title using legend.
* Optgroup    - The optgroup used in select box will be bold by default.
***********************************************************************/

fieldset {
    @include border( 1px, solid, $color-secondary );

    legend {
        background-color: $color-secondary;
        color: $color-secondary-text;
        padding: $size-medium-rem;
        @include rounded( $size-medium );
    }
}

optgroup {
    font-weight: bold;
}
