/**********************************************************************
Description: It defines the styles of custom elements available in CMT-UI css framework. Most of these
			 elements are also dependent on CMT-JS library. Though the JS implementation can also be done
			 for other standard libraries.

Dependencies: variables, mixins, transitions, transformation

Details: It defines the custom element styles as listed below:

* Switch          - It's an advanced and custom element overriding default behavoir of radio to act like a switch.
***********************************************************************/

// == Switch ========================

// Reference: http://callmenick.com/post/css-toggle-switch-examples
.cmt-switch {
	position: relative;
	display: inline-block;

	.cmt-toggle {
		position: absolute;
		margin-left: -9999px;
		visibility: hidden;
	}

	.cmt-toggle + label {
		display: inline-block;
		position: relative;
		cursor: pointer;
		outline: none;
		user-select: none;
	}

	.cmt-toggle-round + label {
		width: 5em !important;
		height: 1.5em;
		padding: 0.5em;
		background-color: $color-primary-d;
		border-radius: 0.5em;
	}

	.cmt-toggle-round + label:before,
	.cmt-toggle-round + label:after {
	  display: inline-block;
	  position: absolute;
	  top: 1px;
	  left: 1px;
	  bottom: 1px;
	  content: "";
	}

	.cmt-toggle-round + label:before {
		right: 1px;
		background-color: $color-white;
		border-radius: 0.5em;
		@include transit-bkg-color( $transit-eio, $transit-time-medium );
	}

	.cmt-toggle-round + label:after {
		width: 1.5em;
		background-color: $color-blue;
		border-radius: 0.5em;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
		@include transit-margin( $transit-eio, $transit-time-medium );
	}

	.cmt-toggle-round:checked + label:before {
		background-color: $color-green;
	}

	.cmt-toggle-round:checked + label:after {
		margin-left: 3.5em;
	}
}
