/**********************************************************************
Description: It defines the table styles for CMT-UI css framework.

Dependencies: variables, mixins

Details: It defines the table styles as listed below:

***********************************************************************/

// Notes: Refer reset for basic reset done for table, th and td.

// == HTML Tables =====================

table {

    th {
        text-align: left;
        padding: 0.25rem;
    }

    td {
        padding: 0.25rem;
    }
}

.table {
    width: 100%;

    &.table-zebra {

        tbody {

            tr:nth-child( even ) {
                background-color: $color-primary-d;
                color: $color-primary-text-d;
            }

            tr:hover {
                background-color: $color-secondary;
                color: $color-secondary-text;
            }
        }
    }

    &.table-border {

        th, td {
            border: 1px solid $color-secondary;
        }
    }

    &.table-fixed {
        table-layout: fixed;
    }

    &.table-responsive {

        th {
            display: none;
        }

        td {
            display: block;

            &:before {
                content: attr(data-th);
                font-weight: bold;
                width: 30%;
                display: inline-block;

                @include responsive-min( screen-tablet-large ) {
                    display: none;
                }
            }
        }

        th, td {
            text-align: left;

            @include responsive-min( screen-tablet-large ) {
                display: table-cell;
            }
        }
    }
}
