/**********************************************************************
Description: It defines the table styles for CMT-UI css framework.

Dependencies: variables, mixins

Details: It defines the table styles as listed below:

***********************************************************************/

// Notes: Refer reset for basic reset done for table, th and td.

