// Simple Mappers

.box-category-mapper {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .wrap-categories {
        height: 250px;
        background-color: $color-primary;

        .category {
            display: inline-block;
            width: 100%;
            margin: 10px;
            background-color: $color-white;

            &.depth-1 {
                padding-left: 15px;
            }

            &.depth-2 {
                padding-left: 30px;
            }

            &.depth-3 {
                padding-left: 45px;
            }
        }
    }
}

.box-tag-mapper {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .wrap-tags {
        background-color: $color-primary;

        .tag {
            position: relative;
            background-color: $color-white;
            display: inline-block;
            margin: 1em;
            padding: 0.5em 1.5em;
        }
    }
}

// Auto Suggest with mapper
.box-mapper-auto {
    position: relative;

    // Search field wrapper
    .auto-search {

    }

    // Search result map
    .auto-map {
        position: relative;

        .item-list {
            display: none;
            position: absolute;
            width: 100%;

            li {
                background-color: $color-primary-d;
                color: $color-primary-text-d;
            }
        }
    }

    // Existing Mappings
    .auto-mapped {

        .item-list {

            li {
                background-color: $color-primary-d;
                color: $color-primary-text-d;
                display: inline-block;
                padding: 0.5em;
                margin: 0.25em;

                .close {
                    margin-left: 0.5em;
                }
            }
        }
    }
}