/**********************************************************************
Description: It defines the styles for footer components available in CMT-UI css framework.

Dependencies: none

Details: It defines the styles for footer components as listed below:
* Header      - The barebone footer class with minimum styles. The footer can be made sticky to stick at bottom.
* Standard    - The standard footer define the styles for primary footer.
***********************************************************************/

// == Structure - Footer ============

.footer {
    position: relative;

    &.sticky {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    @include responsive-max( screen-tablet-large ) {
        padding: 1rem;
    }
}

// == Standard - Footer =============

.footer-standard {
    background-color: $color-footer;
    color: $color-footer-text;
    width: 100%;
    min-height: 50px;
    position: relative;
    z-index: 10000;

    p {
        color: $color-primary-text;
    }
}