// Description: The extended variables created using variables used by CMGTools.
// Dependency: variables

// Border Styles

$border-default: 1px solid $color-secondary;
$border-medium: 2px solid $color-secondary;
$border-fat: 5px solid $color-secondary;

$border-default-l: 1px solid $color-secondary-l;
$border-medium-l: 2px solid $color-secondary-l;
$border-fat-l: 5px solid $color-secondary-l;

$border-default-d: 1px solid $color-secondary-d;
$border-medium-d: 2px solid $color-secondary-d;
$border-fat-d: 5px solid $color-secondary-d;