// Description: The variables used by CMGTools.
// Dependency: none

// Current Version
$version: 'alpha';

// Images Path
$images-path: '../images/';

// Default Fonts
$font-default: Arial, Helvetica, sans-serif; // Default Font - typography - body
$font-heading: Verdana, Geneva, sans-serif; // Font for Headers - typography - h1, h2, h3, h4, h5, h6, .default-header
$font-code: "Courier New", Courier, monospace; // Code Font - typography - pre

// Font Sizing - 1 to 6 are for headers, 7 for (p, a, em), 8 for errors
$font-size-1: 2.5em;
$font-size-2: 2.25em;
$font-size-3: 2.00em;
$font-size-4: 1.75em;
$font-size-5: 1.50em;
$font-size-6: 1.25em;
$font-size-7: 1em;
$font-size-8: 0.75em;
$font-size-9: 0.65em;

// Standard screen sizes - mobile to desktop
$screen-mobile-small: 320px;
$screen-mobile-large: 480px;
$screen-tablet-small: 768px;
$screen-tablet-large: 1024px;
$screen-desktop-small: 1280px;
$screen-desktop-medium: 1360px;
$screen-desktop-large: 1600px;
$screen-desktop-xlarge: 1920px;

// Color Factor - We can use it using lighten/darken methods - ex: $color-primary-l: lighten( $color-primary, $color-factor )
$color-factor: 30;

// Primary Color:
// 1. cmt - mixins - Default color for .linear-gradient
// 2. cmt - basic - Body background color
// 3. cmt - reset - a
$color-primary: #f2f2f2;
$color-primary-l: #td;
$color-primary-d: #td;

// Primary Text Color:
// 1. cmt - basic - .max-area-cover, .header-error, .header-warning, .header-success
// 2. cmt - typography - body
$color-primary-text: #363636;
$color-primary-text-l: #td;
$color-primary-text-d: #td;

// Secondary Color:
// 1. cmt - variables-ext - $border-default, $border-default-medium, $border-default-fat
// 2. cmt - mixins - .circled1, .circled2, .circled3, .circled-text, .linear-gradient
$color-secondary: #515151;
// Secondary Color - Light:
// 1. cmt - variables-ext - $border-default-l, $border-default-medium-l, $border-default-fat-l
$color-secondary-l: #515151;
// Secondary Color - Dark:
// 1. cmt - variables-ext - $border-default-d, $border-default-medium-d, $border-default-fat-d
$color-secondary-d: #515151;

// Secondary Text Color:
// 1. cmt - mixins - .circled-text
$color-secondary-text: #98a2ad;
$color-secondary-text-l: #td;
$color-secondary-text-d: #td;

$color-tertiary: #td;
$color-tertiary-l: #td;
$color-tertiary-d: #td;

$color-tertiary-text: #td;
$color-tertiary-text-l: #td;
$color-tertiary-text-d: #td;

/*
Color Palatte:
1. primary: #{$color-primary}
2. primary text: #{$color-primary-text}
3. primary light: #{$color-primary-l}
4. primary text light: #{$color-primary-text-l}
5. primary dark: #{$color-primary-d}
6. primary text dark: #{$color-primary-text-d}
7. secondary: #{$color-secondary}
8. secondary text: #{$color-secondary-text}
9. secondary light: #{$color-secondary-l}
10. secondary text light: #{$color-secondary-text-l}
11. secondary dark: #{$color-secondary-d}
12. secondary text dark: #{$color-secondary-text-d}
13. tertiary: #{$color-tertiary}
14. tertiary text: #{$color-tertiary-text}
15. tertiary light: #{$color-tertiary-l}
16. tertiary text light: #{$color-tertiary-text-l}
17. tertiary dark: #{$color-tertiary-d}
18. tertiary text dark: #{$color-tertiary-text-d}
 */

// Error Color - Error Headers and Messages
// 1. cmg - basic - .error, .header-error
// 2. cmg - forms - .error-field
$color-error: #e74343;
// Error Color - Warning Headers and Messages
// 1. cmg - basic - .warning, .header-warning
$color-warning: #800020;
// Error Color - Success Headers and Messages
// 1. cmg - basic - .success, .header-success
$color-success: #a5d75a;

// Standard Colors
$color-white: #ffffff;
$color-black: #000000;

// Form Fields Color
// 1. cmg - forms - fields
$color-field: #e1e1e1;
$color-field-text: #363636;

// Button Color
// 1. cmg - forms - buttons
$color-button: #363636;
$color-button-text: #949ea8;

// Button Hover Color
// 1. cmg - forms - buttons
$color-button-h: #e74343;
$color-button-h-text: white;

// Additional Colors
$color-header: #363636;
$color-social: #a5d75a;

// Radius
// 1. mixins - .rounded-all, .rounded-top, .rounded-right, .rounded-bottom, .rounded-left
// 1. forms - .frm-rounded-all, .frm-rounded-top, .frm-rounded-right, .frm-rounded-bottom, .frm-rounded-left
$radius-default: 5px;